    @model IEnumerable<onlineTengy.Models.SubCatagory>
    @{
        ViewData["Title"] = "Index";
    }
    <br />

    <h2>Sub Catagory List</h2>
    <br />
    <hr />

    @await Html.PartialAsync("_CreateNewCatagoryButton")

    <div class="form-border">
        <table class="table table-active" id="showSubCatagories">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(x => x.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Catagory.Name)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(c => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(c => item.Catagory.Name)
                        </td>

                        @await Html.PartialAsync("_TableActionButtons", item.Id)
                    </tr>

                }
        </tbody>
    </table>
    </div>

    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />*@

    @section scripts
    {
        @*<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@
        <script>
            $(document).ready(function () {

                $("#showSubCatagories").DataTable();
            });
        </script>
    }